@-webkit-keyframes from-top {
    0%{
    	top:-1000px;
	}
    100%{ }
}
@-webkit-keyframes from-bottom {
    0%{
    	bottom:-1000px;
	}
    100%{ }
}
@-webkit-keyframes from-left {
    0%{
    	left:-1000px;
    	right: auto;
	}
    100%{ }
}
@-webkit-keyframes from-right {
    0%{
    	right:-1000px;
    	left: auto;
	}
    100%{ }
}
@-webkit-keyframes fadein{
    0%{
    	opacity: 0;
	}
    100%{ }
}
@-webkit-keyframes fadein{
    0%{
        background-position: 1000px auto;
    }
    100%{ }
}
